<nav class="bottom-navbar">
  <a routerLink="/match" routerLinkActive="active">
    <span class="material-icons-round">bolt</span>
    <span>Matches</span>
  </a>
  <a routerLink="/schools" routerLinkActive="active">
    <span class="material-icons-round">school</span>
    <span>École</span>
  </a>
  <a routerLink="/messages" routerLinkActive="active">
    <span class="material-icons-round">chat_bubble</span>
    <span>Messages</span>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <span class="material-icons-round">person</span>
    <span>Profil</span>
  </a>
</nav>
